node_modules/
Backup/31.12.2018/client/main.css
Backup/31.12.2018/client/main.html
Backup/31.12.2018/client/main.js
Backup/31.12.2018/imports/api/tasks.js
Backup/31.12.2018/imports/api/tasks.tests.js
Backup/31.12.2018/imports/startup/accounts-config.js
Backup/31.12.2018/imports/ui/AccountsUIWrapper.js
Backup/31.12.2018/imports/ui/App.js
Backup/31.12.2018/imports/ui/DateRange.js
Backup/31.12.2018/imports/ui/Task.js
Backup/comments.txt 
