node_modules/
Backup/31.12.2018/client/main.css
Backup/31.12.2018/client/main.html
Backup/31.12.2018/client/main.js
Backup/31.12.2018/imports/api/tasks.js
Backup/31.12.2018/imports/api/tasks.tests.js
Backup/31.12.2018/imports/startup/accounts-config.js
Backup/31.12.2018/imports/ui/AccountsUIWrapper.js
Backup/31.12.2018/imports/ui/App.js
Backup/31.12.2018/imports/ui/DateRange.js
Backup/31.12.2018/imports/ui/Task.js
Backup/comments.txt
/nbproject/private/
Backup/test cal/client/main.css
Backup/test cal/client/main.html
Backup/test cal/client/main.js
Backup/test cal/imports/api/tasks.js
Backup/test cal/imports/api/tasks.tests.js
Backup/test cal/imports/startup/accounts-config.js
Backup/test cal/imports/ui/AccountsUIWrapper.js
Backup/test cal/imports/ui/App.js
Backup/test cal/imports/ui/Task.js
nbproject/project.properties
nbproject/project.xml
